.DS_Store

.idea\

\lib\
\lib-external\
\milstd2525\
\src\com\
\src\config
\src\gov\
\src\images
\src\org\
\src\*.html
\test\
\testData\
\testFunctional\
\travis\
\webstart\
*.xml
*.properties
*.html
*.jar
\*.jar\
*.enc
*.jnilib
*.bash
*.bat
*.dll

